<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcz.mrecord.mapper.FinTemplateItemMapper">

    <select id="selectListByBookIdAndUserId" resultType="com.dcz.mrecord.entity.FinTemplateItem">
        SELECT fti.*
        FROM FIN_BOOK fb
                 LEFT JOIN FIN_TEMPLATE_ITEM fti ON fb.MR_ID = fti.MR_BOOK_ID
        WHERE fb.MR_USER_ID = #{userId}
          AND fb.MR_ID = #{finBookId}
        ORDER BY fti.MR_SORT
    </select>
</mapper>