<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcz.mrecord.mapper.backup.SysBackupTemplateItemMapper">

    <insert id="backupByBookId">
        INSERT INTO SYS_BACKUP_TEMPLATE_ITEM
        SELECT *
        FROM FIN_TEMPLATE_ITEM
        WHERE MR_BOOK_ID = #{bookId}
          AND MR_IS_DELETED = 0
    </insert>

</mapper>